language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

# command to install dependencies
install:
  - pip install pipenv
  - pipenv install

before_script:

script:
  # basic tests - command line tool installed and gives help/usage
  - ./sparkySendEml.py -h

  # with specified file, with various input flags,  actually sends mail
  # use yaml line folding
  - ./sparkySendEml.py
    --infile example.eml --campaign_id "travis CI sparkySendEml test"
    --options.ip_pool default --options.transactional true
    --description "awesome campaign" --options.open_tracking true
    --options.click_tracking true

  # check JSON output
  - ./sparkySendEml.py --json_out
    --infile example.eml --campaign_id "travis CI sparkySendEml test"
    --options.ip_pool default --options.transactional true
    --description "awesome campaign" --options.open_tracking true
    --options.click_tracking true >tmp_test.json
  - diff tmp_test.json tests/ref.json

branches:
  only:
    - main
